{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="my_css_static/dashboard_stylesheet.css">
</head>
<body>
<div class="container">
    <div class="card card-dashboard mx-auto text-center bg-dark mt-5">

        <div class="card-body">
            <h3 class="card-header text-white">Dashboard</h3>
            <p class="text-white mb-4">Welcome to the game dashboard. Here you can join a game or view other options.</p>

            <!-- Join Game Button -->
            <a href="{% url 'game' %}" class="btn btn-outline-success btn-lg">Join Game</a>
        </div>
    </div>
</div>
</body>
</html>
