{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catan</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
</head>
<body>
    <!--
Please note that I've forked  the original grid from: https://codepen.io/MattH22/pen/pqFLJ So I cannot take credit for that.

I've tweaked it a bit from then and added the game pieces that could be used to implement an actual html/js/css based game of Settlers of Catan
-->

<div class="container">
  <div class="action-prompt">
    Your turn to roll the dice
  </div>


<!--      <li class="player-roster yellow current-player">-->
<!--        Chaz-->
<!--        <div class='points'>5</div>-->
<!--        <div class='roster-card-bank'>-->
<!--          <ul class='roster-card-stack'>-->
<!--            <li class='roster-card'></li>-->
<!--            <li class='roster-card'></li>-->
<!--            <li class='roster-card'></li>-->
<!--            <li class='roster-card'></li>-->
<!--            <li class='roster-card'></li>-->
<!--            <li class='roster-card'></li>-->
<!--            <li class='roster-card'></li>-->
<!--            <li class='roster-card'></li>-->
<!--            <li class='roster-card'></li>-->
<!--          </ul>-->

<!--        </div>-->
<!--        <div class='clear'</div>-->
<!--      </li>-->

<!--      <li class="player-roster blue">-->
<!--        Eric-->
<!--        <div class='points'>5</div>-->
<!--        <div class='roster-card-bank'>-->
<!--          <ul class='roster-card-stack'>-->
<!--            <li class='roster-card'></li>-->
<!--            <li class='roster-card'></li>-->
<!--            <li class='roster-card'></li>-->
<!--          </ul>-->

<!--          <ul class='roster-card-stack'>-->
<!--            <li class='roster-card'></li>-->
<!--          </ul>-->



<!--        </div>-->
<!--        <div class='clear'</div>-->
<!--      </li>-->

<!--    </ul>-->

<!--  </div>-->
  <ol class="even">
    <li class='hex spacer'></li>
    <li class='hex water'></li>
    <li class='hex water'>
      <div class='harbor three-one any'>
        <div class='harbor-piece br'></div>
      </div>
      <div class='target house tl'></div>
    </li>
    <li class='hex water'>
      <div class='target house tl'></div>
    </li>


    <li class='hex water'>
      <div class='harbor two-one wood'>
        <div class='harbor-piece bl'></div>
      </div>
      <div class='target house tl'></div>
    </li>
  </ol>

  <ol class="odd">
    <li class='hex spacer'></li>
    <li class='hex water'>
      <div class='harbor two-one sheep'>
        <div class='harbor-piece br'></div>
      </div>
    </li>
    <li class='hex wheat' id="4-2">
      <div class='number two'></div>
      <div class='target road tr'></div>
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
    </li>
    <li class='hex wood' id="4-4">
      <div class='target road tl'></div>
      <div class='target road l'></div>
      <div class='target road tr'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
      <div class='number three'></div>
    </li>
    <li class='hex wheat' id="4-6">
      <div class='target road tr'></div>
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
      <div class='number three'></div>

    </li>
    <li class='hex water'>
      <div class='target road l'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
    </li>
  </ol>

  <ol class="even">
    <li class='hex water'></li>
    <li class='hex coal' id="3-1">
      <div class='target road tr'></div>
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
      <div class='number four'></div>
    </li>
    <li class='hex sheep' id="3-3">
      <div class='number four'></div>
      <div class='target road tr'></div>
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
<!--      <div class="target house r"></div>-->
    </li>
    <li class='hex wood' id="3-5">
      <div class='number five'></div>
      <div class='target road tr'></div>
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
<!--      <div class="target house r"></div>-->
    </li>
    <li class='hex sheep' id="3-7">
      <div class='number five'></div>
      <div class='target road tr'></div>
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
<!--      <div class="target house r"></div>-->
    </li>
    <li class='hex water'>
      <div class='harbor two-one brick'>
        <div class='harbor-piece l'></div>
      </div>
      <div class='target road l'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
    </li>
  </ol>

  <ol class="odd">
    <li class='hex water' id="2--2">
      <div class='harbor two-one sheep'>
        <div class='harbor-piece r'></div>

      </div>

    </li>
    <li class='hex sheep' id="2-0">
      <div class='number six'></div>
      <div class='target road tr'></div>
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
<!--      <div class="target house r"></div>-->
    </li>
    <li class='hex wheat' id="2-2">
      <div class='number six'></div>
      <div class='target road tr'></div>
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
<!--      <div class="target house r"></div>-->
    </li>
    <li class='hex wood' id="2-4">
      <div class='number eight robber'></div>
      <div class='target road tr'></div>
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
<!--      <div class="target house r"></div>-->
    </li>
    <li class='hex brick' id="2-6">
      <div class='number eight'></div>
      <div class='target road tr'></div>
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
<!--      <div class="target house r"></div>-->
    </li>
    <li class='hex brick' id="2-8">
      <div class='number nine'></div>
      <div class='target road tr'></div>
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
<!--      <div class="target house r"></div>-->
    </li>
    <li class='hex water' id="2-10">
      <div class='target road l'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
    </li>
  </ol>
  <ol class="even">
    <li class='hex water' id="1--1">
      <div class='target road tr'></div>
    </li>
    <li class='hex coal' id="1-1">
      <!-- ROAD TARGETS -->
      <div class='target road tr'></div>
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
<!--      <div class="target house r"></div>-->
      <div class='number nine'></div>
    </li>
    <li class='hex brick' id="1-3">
      <div class='number ten'></div>
      <div class='target road tr'></div>
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
<!--      <div class="target house r"></div>-->
    </li>
    <li class='hex wood' id="1-5">
      <!-- HOUSE TARGETS -->
      <div class='target road tr'></div>
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
<!--      <div class="target house r"></div>-->
      <div class='number ten'></div>
    </li>
    <li class='hex sheep' id="1-7">
      <div class='number eleven'></div>
      <div class='target road tr'></div>
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
<!--      <div class="target house r"></div>-->
    </li>
    <li class='hex water' id="1-9">
      <div class='harbor two-one wheat'>
        <div class='harbor-piece l'></div>
      </div>
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
    </li>
  </ol>
  <ol class="odd">
    <li class='hex spacer'></li>
    <li class='hex water' id="0-0">
      <div class='harbor three-one any'>
        <div class='harbor-piece tr'></div>
      </div>
      <div class='target road tr'></div>
    </li>
    <li class='hex sand' id="0-2">
      <div class='target road tr'></div>
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
    </li>
    <li class='hex coal' id="0-4">
      <div class='number twelve'></div>
      <div class='target road tr'></div>
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
<!--      <div class="target house r"></div>-->
    </li>
    <li class='hex wheat' id="0-6">
      <div class='number eight'></div>
      <div class='target road tr'></div>
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
<!--      <div class="target house r"></div>-->
    </li>
    <li class='hex water' id="0-8">
      <div class='target road l'></div>
      <div class='target road tl'></div>
      <div class='target house tl'></div>
      <div class="target house tr"></div>
  </ol>

  <ol class="even">
    <li class='hex spacer'></li>
    <li class='hex water' id="-1-1">
            <div class='target road tr'></div>

    </li>
    <li class='hex water' id="-1-3">
      <div class='harbor three-one any'>
        <div class='harbor-piece tr'></div>
      </div>
            <div class='target road tr'></div>
      <div class='target road tl'></div>

      <div class="target house tr"></div>

    </li>
    <li class='hex water' id="-1-5">
            <div class='target road tr'></div>
      <div class='target road tl'></div>
      <div class="target house tr"></div>
    </li>
    <li class='hex water' id="-1-7">
      <div class='harbor two-one ore'>
        <div class='harbor-piece tl'></div>
      </div>
      <div class='target road tl'></div>
      <div class="target house tr"></div>
    </li>
  </ol>
</div>
  <div class="roster">
    <ul class="player-roster-list">

      <li class="player-roster red">
        Your hand
        <div class='points'>5</div>

        <div class='roster-card-bank'>
          <ul class='roster-card-stack'>
            <li class='roster-card sheep'></li>
            <li class='roster-card sheep'></li>
            <li class='roster-card sheep'></li>
          </ul>

          <ul class='roster-card-stack'>
            <li class='roster-card wood'></li>
            <li class='roster-card wood'></li>
            <li class='roster-card wood'></li>
          </ul>

          <ul class='roster-card-stack'>
            <li class='roster-card brick'></li>
            <li class='roster-card brick'></li>
          </ul>

          <ul class='roster-card-stack'>
            <li class='roster-card ore'></li>
            <li class='roster-card ore'></li>
          </ul>

        </div>
        <div class='clear'></div>
      </li>
    </ul>

      <ul class="player-roster-list">

      <li class="player-roster green">
        Green
        <div class='points'>2</div>
      </li>
      </ul>
    <ul class="player-roster-list">

      <li class="player-roster yellow">
        Green
        <div class='points'>3</div>
      </li>
      </ul>
    <ul class="player-roster-list">

      <li class="player-roster blue">
        Green
        <div class='points'>6</div>
      </li>
      </ul>

</body>
</html>
